<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Scott">
	<meta name="viewPort" content="width=device-width,initial-scale=1">
	<meta name="referrer" content="always">
    <meta name="keywords" content="上网导航,网址大全,网址导航,scott上网导航,xiongwei网址,scottxiong导航,scott网址大全,scott活动, 抽奖活动">
    <meta name="description" content=“SX是一个学习网站，里面汇集了从前端，后台，数据库的各项技术总结，打开前后端之门的钥匙，一切从scottxiong.org开始。”>
	<link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/solarized_dark.min.css">
    <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
	<title>Study</title>
</head>
<body>
	<div id="app">
	</div>
</body>
</html>