#app{
	color: blue;
	font-family: "Arial";
	font-size: 12px;
	overflow-x: hidden;
}
pre{
	border-radius: 5px;
	border:1px solid #f60;
	padding: 25px;
}
a:link {color: blue; text-decoration:none;} 
a.selecte:{color: #f60; } 
a:visited {color:purple;text-decoration:none;background: #ccc;} 
a:hover {color: red; text-decoration:underline;} 
.center{
	text-align: center;
}
.head{
	background: #282c34;
	height: 60px;
	text-align: center;
	vertical-align: center;
	color: #fff;
}
.head h3{
	padding-top: 15px;
}
#list{
	
	padding: 12px;
	margin-top: 3px;
	margin-left: -60px;
}
.left{
	height: 800px;
	background: #ccc;
	box-shadow: 10px solid #ccc;
	padding: 5px;
	border-radius: 8px;
	margin-left: 15px;
}
.right{
	box-shadow: 8px 8px 8px #ccc;
	border-radius: 8px;
}